# ignore dataset
/ACFGs
/Graph

# ignore mlruns
/CFGExplainer/mlruns
/CFGExplainer/logs
/CFGExplainer/interpretability_results
/CFGExplainer/poison_interpretability_results
# /CFGExplainer/data


# ignore gpickle files
*.gpickle
